<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="false" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:required="false" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:required="false" />
    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="false" />
    <uses-permission
        android:name="android.permission.WAKE_LOCK"
        android:required="false" />
    <uses-permission 
        android:name="android.permission.ACCESS_NETWORK_STATE" 
        android:required="false" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
	    android:name=".Globals"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="ru.code22.mtrade.MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
            <!-- это для того, чтобы при получении fcm сообщения, если приложение в фоновом режиме, открылось MainActivity (onCreate/onNewIntent) -->
            <intent-filter>
                <action android:name="OPEN_ACTIVITY_1" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        
		<receiver android:name="ru.code22.mtrade.PowerStateChangedReceiver"
            android:exported="true">
		  <intent-filter>
		    <action android:name="android.intent.action.ACTION_BATTERY_LOW"/>
		    <action android:name="android.intent.action.ACTION_BATTERY_OKAY"/>
		  </intent-filter>
		</receiver>        

        <provider
            android:name="ru.code22.mtrade.MTradeContentProvider"
            android:authorities="ru.code22.providers.mtrade"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="ru.code22.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/file_paths" />
    </provider>
        <activity
            android:name="ru.code22.mtrade.ClientsActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_clients_list"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="ru.code22.mtrade.OrderPreActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|screenSize"
            android:label="@string/title_activity_order"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="ru.code22.mtrade.OrderActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|screenSize"
            android:label="@string/title_activity_order"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="ru.code22.mtrade.RefundActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|screenSize"
            android:label="@string/title_activity_refund"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="ru.code22.mtrade.AgreementsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_agreements_list"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="ru.code22.mtrade.Agreements30Activity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_agreements30_list"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="ru.code22.mtrade.AgreementsDebtActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_agreements_list"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="ru.code22.mtrade.DiscountsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_discounts_list"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="ru.code22.mtrade.NomenclatureActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|screenSize"
            android:label="@string/title_activity_nomenclature"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="ru.code22.mtrade.NomenclatureGridActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|screenSize"
            android:label="@string/title_activity_nomenclature"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="ru.code22.mtrade.ContractsActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|screenSize"
            android:label="@string/title_activity_contracts"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="ru.code22.mtrade.TradePointsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_trade_point"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="ru.code22.mtrade.MessageActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_message"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="ru.code22.mtrade.PhotoActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_photo"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="ru.code22.mtrade.QuantityActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|screenSize"
            android:label="@string/title_activity_quantity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="ru.code22.mtrade.QuantitySimpleActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|screenSize"
            android:label="@string/title_activity_quantity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="ru.code22.mtrade.PrefActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_pref"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="ru.code22.mtrade.AgentsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_agents"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="ru.code22.mtrade.CuratorsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_curators"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="ru.code22.mtrade.RoutesWithDatesActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_routes_with_dates"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="ru.code22.mtrade.ImageActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_image"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="ru.code22.mtrade.PrefQuantityActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_pref"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="ru.code22.mtrade.PrefOrderActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_pref"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="ru.code22.mtrade.PrefPaymentActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_payment_pref"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="ru.code22.mtrade.PaymentActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_payment"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="ru.code22.mtrade.PrefRefundActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_pref"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="ru.code22.mtrade.PlacesActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_places"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="ru.code22.mtrade.PrefNomenclatureActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_nomenclature_pref"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="ru.code22.mtrade.PrefNomenclatureGridActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_nomenclature_pref"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="ru.code22.mtrade.VicariousPowersActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_vicarious_powers"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="ru.code22.mtrade.PrefDistribsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_pref"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="ru.code22.mtrade.DistribsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|screenSize"
            android:label="@string/title_activity_distribs"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>

    </application>

</manifest>